[Desktop Entry]
Categories=Network;InstantMessaging;
Comment=Desktop app bringing all your messaging services into one installable
Exec=/usr/bin/ferdium %U
Icon=ferdium
MimeType=x-scheme-handler/ferdium;
Name=Ferdium
StartupWMClass=Ferdium
Terminal=false
Type=Application
